#!/usr/bin/env bash
# SPDX-FileCopyrightText: 2025 Foundation Devices, Inc. <hello@foundation.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

# this serial port will be used by `host_control` tool
export BT_UART=/dev/serial/by-id/usb-Silicon_Labs_CP2102N_USB_to_UART_Bridge_Controller_7263cbc4e498ed11b0e4a9b7a7669f5d-if00-port0

