# SPDX-FileCopyrightText: 2024 Foundation Devices, Inc. <hello@foundation.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

[target.'cfg(all(target_arch = "arm", target_os = "none"))']
runner = "probe-rs run --chip nrf52805_xxAA"

[build]
target = "thumbv7em-none-eabi" # Cortex-M4 and Cortex-M7 (no FPU)
rustflags = [
  "-C", "linker=arm-none-eabi-gcc",
  "-C", "link-arg=-nostartfiles",
  "-C", "link-arg=-nostdlib",
  "-C", "code-model=small",
  "-C", "debuginfo=0",
  "-C", "incremental=false",
  "-C", "lto=fat"
]

[env]
DEFMT_LOG = "debug"

[alias]
deb = "run --release --features debug"

[unstable]
trim-paths = true
